*,body,html{
    padding:0;
    margin:0;
    max-height:100vh;
    max-width:100vw;
    font-family: 'Roboto',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.outer{
    display:grid;
    grid-template-columns: 1fr 4fr;
    max-height: 100%;
    max-width: 100%;
}

.sidebar{
    display:grid;
    grid-column: 1 / 2;
    background-color: rgb(55, 139, 207);
    height:100vh;
    grid-template-rows: repeat(12,50px);
    color:white;
}

.dashboard{
    display:grid;
    align-items: center;
    padding-top:20px;
    padding-left: 20px;
    grid-template-columns: 1fr 3fr;
    font-weight: bold;
    font-size: 2rem;
}

.sidebar div:not(.dashboard){
    display:grid;
    align-items:center;
    padding-left: 20px;
    grid-template-columns: 1fr 3fr;
    font-weight: bold;
    font-size: 1.5rem;
}

.icon:not(.magnify, .notify){
    filter: invert(100%);
    width: 60%;
    height: 60%;
}

.dashboard .icon{
    width:70%;
    height:70%;
}

.rightpanel{
    display:grid;
    max-height:100vh;
    max-width: 100vw;
    grid-column: 2 / 3;
    grid-template-rows: repeat(12, 50px);
}

.headertop{
    display:grid;
    grid-row: 1 / 4;
    grid-column: 1 / 13;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.notification{
    display:grid;
    grid-row: 2 / 3;
    grid-column: 8 / 9;
    align-items: center;
}

.account{
    display:grid;
    grid-row: 2 / 3;
    grid-column: 9 / 10;
}

.search{
    display:grid;
    grid-row: 2 / 3;
    grid-column: 3 / 7;
    border-radius: 2rem;
    font-size: 2rem;
    background-color: lightgray;
}

.magnify {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width:  50px;
    height: 50px;
}

.notify {
    width: 50px;
    height: 50px;
}

.avatar{
    width: 70px;
    height: 70px;
}

.fullName{
    grid-row: 2 / 3;
    grid-column: 10 / 13;
    font-size: 2rem;
    font-weight: bold;
}

.headerbottom{
    display:grid;
    grid-row: 4 / 6;
    grid-column: 1 / 13;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.avatar2{
    grid-row: 1/3;
    grid-column : 2/3;
    width: 75px;
    height: 75px;
}

.hello{
    grid-row:1/2;
    grid-column: 3/4;
    font-size:1rem;
    font-weight: bold;
}

.name{
    grid-row:2/3;
    grid-column: 3/6;
    font-size: 2rem;
    font-weight: bold;
}

button{
    background-color: rgb(55, 139, 207);
    border-radius: 2rem;
    height:50px;
}

button:hover{
    cursor:pointer;
}

#new{
    grid-row:1/3;
    grid-column:7/8;
    color:white;
    font-size: 1.5rem;
}

#upload{
    grid-row:1/3;
    grid-column:9/10;
    color:white;
    font-size: 1.5rem;
}

#share{
    grid-row:1/3;
    grid-column:11/12;
    color:white;
    font-size: 1.5rem;
}

:visited{
    color:white;
}

a {
    text-decoration: none;
}